.player{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 10rem;
    box-sizing: border-box;
    padding: 0.5rem;
    cursor: pointer;
}

.player-active{
    background-color: rgb(255, 165, 0) !important;
}