<div class="players-container">

    <app-player *ngFor="let player of gameOnLocal.players; let i=index" 
    [avatar] = "gameOnLocal.avatars[i]"
    [name]="player" 
    [playerActive]="i == gameOnLocal.currentPlayer"
    matTooltip="Edit" matTooltipPosition="left"
    (click)="editPlayer(i)">
    </app-player>

</div>
<!--
    List of players is the array player.
    i is the index of player in this list.  
    Variable playerActive is true/false. 
    i is fixed,
    currentPlayer will be changed by takeCard,  
    when i == game.currentPlayer is true => playerActive is true as well.
-->




<div class="field">

    <div class="card-stack">

        <!-- Cards stack -->
        <img [ngStyle]="{'right.px': i*5}" *ngFor="let c of gameOnLocal.dummyStack; let i = index;"
            src="/assets/img/cards/card_cover.png">
        <img (click)="play()" *ngIf="gameOnLocal.dummyStack.length > 0" class="top-card" style="right:25px;" src="/assets/img/cards/card_cover.png">

        <!-- Played cards -->
        <img *ngFor="let card of gameOnLocal.playedCards" class="played-card" src="/assets/img/cards/{{card}}.png">

        <!-- Current card -->
        <img *ngIf="gameOnLocal.pickCardAnimation" class="pick-card" style="right:25px;"
            src="/assets/img/cards/{{gameOnLocal.currentCard}}.png">
    </div>
</div>





<app-game-info [card]="gameOnLocal.currentCard" class="pin-top"></app-game-info>




<button mat-stroked-button color="accent" matTooltip="Refresh stack" matTooltipPosition="right" (click)="refreshStack()" class="btn-refreshStack">
    <mat-icon>autorenew</mat-icon>
</button>

<button mat-stroked-button color="accent" matTooltip="Reset game" matTooltipPosition="right" (click)="resetGame()" class="btn-resetGame">
    <mat-icon>replay_circle_filled</mat-icon>
</button>

<button mat-stroked-button color="accent" matTooltip="Add player" matTooltipPosition="left" (click)="openDialog()" class="btn-add">
    <mat-icon>add</mat-icon>
</button>

